        header h1{
            text-align: center;
            font-size:50px;
            color:forestgreen;
            font-weight:900;
        }
        header a{
            font-size: 40px;
            margin-left: 50px;
            color:blue;
        }
        header a:hover{
            color:red;
        }
        .firstDiv img{
            margin-left:140px;
            border:2px solid gray   ;
        }
    
        .secondDiv button{
            margin-left:190px;
            height: 30px;
            background-color:  #ffb84d;
            font-weight: bold;

        }
        .secondDiv button:hover{
            background-color:red;
        }
        

        
        .but{
            float:left;
        }
        
        .but button{
            width:307px;
            height:60px;
            margin-left:-10px;
            background-color: gray;
            border:1px solid black;
            font-weight: bold;
            color:white;
            margin-top:-10px;
        }
        .but button:hover{
            background-color: darkorange
        }
        

        .gallery {
            
          border: 1px solid #ccc;
          float: left;
          width: 550px;
          height: 442px;
          margin-left:490px;
        }

        .gallery:hover {
          width: 550px;
          height:442px;
          border: 5px solid green;
        }

        .gallery img {
          width: 550px;
          height:350px;

        }

        .desc {
        padding-left:20px;
        font-size:20px;
        }
        
        .secondDiv button{
            width:90px;
        }
        .secondDiv img{
            width:40px;
        }
     
        .thirdDiv img{
            width:370px;
            height:550px;
            opacity: 40%;
        }
        .thirdDiv img:hover{
            opacity: 100%;
        }
        
        
        .footer img{
            width:30px;
            border-radius: 10px;
            margin-left: 80px;
        }
        .footer span{
            color:black;
            font-weight: 500;
        }
